{
  email admin@example.com
}

:80 {
  redir https://{host}{uri}
}

:443 {
  encode gzip
  tls internal
  handle_path /api* {
    reverse_proxy backend:8000
  }
  handle {
    reverse_proxy frontend:3000
  }
}
